setuptools>=41.2
nltk
more_itertools
sklearn
allennlp
torch
tensorboard
scispacy
beautifultable
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.2.0/en_core_sci_sm-0.2.0.tar.gz
addict
tensorflow==1.14
ordered_set
guppy3

