more_itertools
torch
pdfminer.six
bs4~=0.0.1
matplotlib~=3.2.1
regex~=2020.2.20
seaborn~=0.10.0
tinycss~=0.4
lxml
TexSoup~=0.2.1
pygraphviz
databases[postgresql]
falcon
falcon-cors
falcon-multipart

networkx
scipy
traceback_with_variables
paired
coloredlogs
pyyaml
tensorflow
gunicorn
wordninja
overrides
wn
jellyfish
rapidfuzz
parasail
spacy
spacy-transformers
allennlp
swalign
nltk
Cython
numpy
setuptools==58.0.0
joblib~=0.14.1
scikit-learn
beautifulsoup4~=4.8.2
requests~=2.23.0
gensim
tk
scispacy
beautifultable
texttable
pylcs
git+https://github.com/c0ntradicti0n/listalign.git@master#listalign
colorama
pdf2image
jsonpath_ng
git+https://github.com/huggingface/transformers.git
datasets
seqeval
--find-links https://download.pytorch.org/whl/torch_stable.html
#torch==1.8.0+cu101
#torchvision==0.9.0+cu101
git+https://github.com/facebookresearch/detectron2.git

pyprover
numpy-indexed
pyxdameraulevenshtein
editdistance

pandas
suffix_trees
openpyxl
markov_clustering

hdbscan
addict
cytoolz

gputil
numba


flask
sklearn
transformers




diff_match_patch
python-Levenshtein
pycallgraph
allennlp-models
hanging_threads
zmq
uwsgi