--find-links https://download.pytorch.org/whl/torch_stable.html
git+https://github.com/facebookresearch/detectron2.git
git+https://github.com/c0ntradicti0n/listalign.git@master#listalign

black
psycopg2
ibis-framework
more_itertools
torch
pdfminer.six
bs4~=0.0.1
matplotlib~=3.2.1
regex
seaborn~=0.10.0
tinycss~=0.4
lxml
TexSoup
pygraphviz
databases[postgresql]
chardet
falcon
falcon-cors
falcon-multipart
torchaudio
networkx
scipy
traceback_with_variables
paired
coloredlogs
pyyaml
tensorflow
gunicorn
wordninja
overrides
wn
jellyfish
rapidfuzz
parasail
spacy
spacy-transformers
allennlp==2.8.0
swalign
nltk
Cython
numpy
setuptools==58.0.0
joblib~=0.14.1
scikit-learn
beautifulsoup4~=4.8.2
requests
gensim
tk
scispacy
beautifultable
texttable
pylcs
colorama
pdf2image
jsonpath_ng
datasets
seqeval
pyprover
numpy-indexed
pyxdameraulevenshtein
editdistance
speechbrain
pandas
suffix_trees
openpyxl
markov_clustering
addict
cytoolz
gputil
flask
sklearn
transformers==4.10.1
diff_match_patch
python-Levenshtein
pycallgraph
allennlp-models
hanging_threads
zmq
uwsgi