flask
flask-restx
flaskoidc
python-dotenv
pyjwt
coloredlogs


git+https://github.com/c0ntradicti0n/listalign.git@master#listalign
dash==2.3.0
dash-extensions
visdcc

selenium
chromedriver-binary

python-dotenv
agraph-python



pdfminer.six
bs4~=0.0.1
beautifultable
texttable

black

psycopg2-binary
ibis-framework
more_itertools


matplotlib~=3.2.1
regex
seaborn~=0.10.0
tinycss~=0.4
lxml
TexSoup
pygraphviz
databases[postgresql]
chardet
falcon
falcon-cors
falcon-multipart

flask
flask-restx

spacy_wordnet

torchaudio
networkx
scipy
traceback_with_variables
paired
coloredlogs
pyyaml
tensorflow
gunicorn
wordninja
overrides
wn
jellyfish
rapidfuzz
parasail
spacy
spacy-transformers
allennlp==2.10.0
allennlp-models==2.10.0

swalign
nltk
Cython
numpy
setuptools==58.0.0
joblib~=0.14.1
scikit-learn
beautifulsoup4
requests
gensim
tk
scispacy

pylcs
colorama
pdf2image
jsonpath_ng
datasets
seqeval
pyprover
numpy-indexed
pyxdameraulevenshtein
editdistance
speechbrain
pandas
suffix_trees
openpyxl
markov_clustering
addict
cytoolz
gputil
flask
scikit-learn
transformers==4.25.1
diff_match_patch
python-Levenshtein
pycallgraph
hanging_threads
zmq
uwsgi